 @import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
*,
*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* logo */
img[alt='logo']{
    width: 5rem;
    aspect-ratio: 1/1;
}
/* from app */
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  .custom-navbar{
    background-color:#a97d47 ;
  }
  nav {
    padding: 30px;
   
  
  }
  
  nav a {
    font-weight: bold;
    color: #2c3e50;
  }
  
  nav a.router-link-exact-active {
    color: #42b983;
  } 


  /* footer */
  .footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* Optional: Set a background color for the footer */
    padding: 10px;
    text-align: center;
  }
  /* icons */
  .fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
  }
  
  .social-media-icons {
    margin-top: 10px;
  }
  
  .social-media-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #333; 
  }
  
  .social-media-icons i {
    font-size: 24px;
  }
  .homePage {
    position: relative;
    text-align: center;
    padding-bottom: 650px; 
  }
  
.homePage{
    background-image: url('../coffee.avif');
   
background-size: cover; 
background-position: center;
width: 100vw;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-items: flex-start;
padding: 20px;;
}
.display-2{
    color: black;
    margin-bottom: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 80;
    text-align: center;
  
}
/* about page content */

.about {
   padding-top: 100px;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap;
  }
  
  .image-container {
   
  }
  
  .paragraph-container {
    width: 60%; 
  }
  #heading{
    padding-bottom: 400px;
  }
  

